.players tr.datacells:hover {
    background-color: lightgrey !important;
    color: white;
    border-radius: 5px
  }

.selected {
  background-color: lightgrey;
}

#wiedepitcherhaalt{
  margin-top: 25px;
  height: 250px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
}

#wiedepitcherhaalt > h1 {
  font-size: 5em;

}

.resultbutton {
  position: relative;
  bottom: -70px;
  margin: 0px 25px
}

#edit {
  float:right
}

.top {
  min-height: 300px;
}

.name-field {
  width:80%;
  margin-right: 0px;
  display: inline-block;
}

/* The switch - the box around the slider *#/ ###################################### */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(92, 184, 92);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*#####################################################################*/

/*#####################################################################*/
.material-switch {
  top: 20px;
  position: relative;

}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
/*#######################################################################*/
